*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dashbord{
    min-height: 100dvh;
    background-color: rgb(228, 228, 228);
}
.content{
    background-color: aliceblue;
    min-width: 80%;
    padding: 20px;
}

